.mainContainer {
	position: relative;
	top: 100px;
	width: 100%;
}

.formContainer {
	position: relative;
	text-align: center;
	left: 50%;
	width: 100%;
	max-width: 600px;
	transform: translate(-50%);
	background-color: var(--background);
	padding: 30px 60px;
	border-radius: 12px;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.568);
	z-index: 0;
}

.formContainer h2 {
	letter-spacing: 2px;
	font-weight: bold;
	color: var(--main-color);
}
.btn {
	margin-top: 1em;
	width: 200px;
	height: 40px;
	padding: 10px 40px;
	border-radius: 5px;
	font-weight: bold;
	letter-spacing: 2px;
	border: none;
	position: relative;
	background-color: var(--main-color);
	color: var(--white);
	cursor: pointer;
	transition: background-color 0.3s, box-shadow 0.3s;
}
.btn:hover {
	background-color: #6c9b1c;
	box-shadow: 0 0 3px rgb(5, 5, 5);
}

.error {
	color: red;
	width: 100%;
	text-align: left;
}

.loader,
.loader:before,
.loader:after {
	border-radius: 50%;
	width: 1em;
	height: 1em;
	animation-fill-mode: both;
	animation: load 1.8s infinite ease-in-out;
}
.loader {
	color: white;
	font-size: 10px;
	top: -10px;
	left: 50%;
	position: absolute;
	transform: translate(-50%, -50%);
	text-indent: -9999em;
	transform: translateZ(0);
	animation-delay: -0.16s;
}
.loader:before,
.loader:after {
	content: '';
	position: absolute;
	top: 0;
}
.loader:before {
	left: -3.5em;
	animation-delay: -0.32s;
}
.loader:after {
	left: 3.5em;
}
@keyframes load {
	0%,
	80%,
	100% {
		box-shadow: 0 2.5em 0 -1.3em;
	}
	40% {
		box-shadow: 0 2.5em 0 0;
	}
}
@media only screen and (max-width: 1024px) {
	.formContainer {
		width: 90%;
	}
}
