.inputBox {
	position: relative;
	margin-top: 1em;
	/* min-width: 290px; */
	width: 100%;
	padding-right: 1em;
}

.inputBox input {
	position: relative;
	width: 100%;
	padding: 15px 0;
	border: 1px solid rgba(2, 2, 2, 0.349);
	border-radius: 5px;
	outline: none;
	font-size: 1em;
	margin-bottom: 1em;
}
.inputBox input::placeholder {
	color: transparent;
}

.inputBox label {
	position: absolute;
	left: 0;
	top: 0px;
	padding: 10px;
	pointer-events: none;
	font-size: 1.1em;
	color: gray;
	transition: 0.5s;
}

.inputBox input:focus ~ .label,
.input:not(:placeholder-shown).input:not(:focus) ~ .label {
	color: black;
	transform: translate(10px) translateY(-7px);
	font-size: 0.95em;
	padding: 0 10px;
	letter-spacing: 1px;
	border: 1px solid rgba(2, 2, 2, 0.349);
	border-radius: 2px;
	background-color: #fff;
}
.inputBox input:focus {
	border: 1px solid black;
}
