*,
html {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	margin: 0;
	width: 100%;
	font-family: sans-serif, 'Libre Baskerville';
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: var(--background-body);
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}
a {
	text-decoration: none;
	color: inherit;
}
:root {
	--background-body: #dddddd60;
	--background: #dddddd27;
	--main-color: #80b328;
	--white: #ffff;
}
