body {
	margin: 0;
	font-family: sans-serif, 'Libre Baskerville';
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}
a {
	text-decoration: none;
	color: inherit;
}
:root {
	--background: #dddddd27;
	--main-color: #80b328;
	--white: #ffff;
}
